<f:layout name="Default" />

<f:section name="Title">Mk.Vote - Central View</f:section>

<f:section name="Content">
	<p>Ranking Lists</p>
	<f:if condition="{rankingLists}">
		<f:then>
			<ul>
					<f:for each="{rankingLists}" as="rankingList">
							<li>
									<f:link.action action="show" controller="RankingList" arguments="{rankingList: rankingList}">{rankingList.name}</f:link.action><br>
									{rankingList.description}<br>

							</li>
					</f:for>
			</ul>
		</f:then>
		<f:else>
			So far here is no ranking list. Use the SetupController to create one.
		</f:else>
	</f:if>
</f:section>