/* 
    Document   : Main
    Created on : 05.12.2013, 14:25:25
    Author     : michael
    Description:
        Purpose of the stylesheet follows.
*/

#top-area {
	float: left;
}
#start-basics {
	float: left;
	width: 500px;
}
#insert-percentages {
	float: right;
	width: 480px;
	border: 2px solid;
	margin-left: 10px;
	padding: 10px;
}
#supervisoryBoards .supervisoryBoard .sb-main {
	float: left;
}
#supervisoryBoards .supervisoryBoard .voteDifferences {
	float: right;
	padding-top: 100px;
}
#supervisoryBoards .supervisoryBoard .voteDifferences .inner {
	border: 2px solid;
	padding: 10px;
	width: 300px;
}
#supervisoryBoards .supervisoryBoard .voteDifferences .inner p {
	margin: 0;
}

#supervisoryBoards .supervisoryBoard {
	clear: both;
	width: 800px;
}
.clear {
	clear: both;
}

#insert-percentages form .submit {
	clear: both;
	float: left;
	width: 60px;
}
#insert-percentages form input {
	width: 40px;
}
#insert-percentages form .name,
#insert-percentages form .international, 
#insert-percentages form .regional, 
#insert-percentages form .original {
	float: left;
}
#insert-percentages form .name {
	width: 45px;
	text-align: right;
}
#insert-percentages form .international {
	width: 75px;
	text-align: right;
}
#insert-percentages form .regional {
	width: 97px;
	text-align: right;
}
#insert-percentages form .original {
	width: 150px;
	text-align: right;
}
#insert-percentages form ul {
	padding-left: 0;
}
#insert-percentages form ul .labels {
	font-weight: bold;
	height: 40px;
	line-height: 40px;
}
#insert-percentages form ul .labels span {
	margin: 0 10px;
	max-width: 80px;
	display: inline-block;
	line-height: 1;
}
#insert-percentages form ul .labels span.l4 {
	max-width: 120px;
}
#insert-percentages form ul li {
	clear: both;
	list-style-type: none;
}