<div id="tableOfContent">
	<script>
		document.write("<strong>Overview:</strong><br>");
		document.write("<a href='" + document.URL + "#allConnectedSB'>Votes and seats for all supervisory boards of this ranking list together</a><br>");
		document.write("<a href='" + document.URL + "#parties'>Parties with votes and seats for all supervisory boards of this ranking list together</a><br>");
		document.write("<a href='" + document.URL + "#supervisoryBoards'>Supervisory Boards</a><br>");
		document.write("<a href='" + document.URL + "#filteredListOfVoteDifferences'>Filtered Ranking List with Vote Differences</a><br>");
		document.write("<a href='" + document.URL + "#listOfVoteDifferences'>Full Ranking List with Vote Differences</a><br>");
	</script>
</div>