<div id="tableOfContent">
	<strong>Overview:</strong><br>
	<a href="#allConnectedSB">For all supervisory boards of this ranking list together</a><br>
	<a href="#parties">Parties with values for all supervisory boards of this ranking list together</a><br>
	<a href="#supervisoryBoards">Supervisory Boards</a><br>
	<a href="#filteredListOfVoteDifferences">Filtered Lists of Vote Differences</a><br>
	<a href="#listOfVoteDifferences">Full list of Vote Differences</a>
	
	<br><br>
	<f:link.action action="show" addQueryString="1" section="filteredListOfVoteDifferences">Filtered Lists of Vote Differences</f:link.action><br>
	<div>x</div>
</div>