<div id="tableOfContent">
	<strong>Overview:</strong><br>
	<f:link.action action="show" arguments="{rankingList:'{rankingList}'}" section="allConnectedSB">Votes and seats for all supervisory boards of this ranking list together</f:link.action><br>
	<f:link.action action="show" arguments="{rankingList:'{rankingList}'}" section="parties">Parties with votes and seats for all supervisory boards of this ranking list together</f:link.action><br>
	<f:link.action action="show" arguments="{rankingList:'{rankingList}'}" section="supervisoryBoards">Supervisory Boards</f:link.action><br>
	<f:link.action action="show" arguments="{rankingList:'{rankingList}'}" section="filteredListOfVoteDifferences">Filtered Ranking List with Vote Differences</f:link.action><br>
	<f:link.action action="show" arguments="{rankingList:'{rankingList}'}" section="listOfVoteDifferences">Full Ranking List with Vote Differences</f:link.action><br>
</div>