/* 
    Document   : Main
    Created on : 05.12.2013, 14:25:25
    Author     : michael
    Description:
        Purpose of the stylesheet follows.
*/

#supervisoryBoards .supervisoryBoard .sb-main {
	float: left;
}
#supervisoryBoards .supervisoryBoard .voteDifferences {
	float: right;
	padding-top: 100px;
}
#supervisoryBoards .supervisoryBoard .voteDifferences .inner {
	border: 2px solid;
	padding: 10px;
	width: 300px;
}
#supervisoryBoards .supervisoryBoard .voteDifferences .inner p {
	margin: 0;
}

#supervisoryBoards .supervisoryBoard {
	clear: both;
	width: 800px;
}
.clear {
	clear: both;
}
